<!-- Search: Allow the user to type a query into the search box in the sidebar to search for an encyclopedia entry.
If the query matches the name of an encyclopedia entry, the user should be redirected to that entry’s page.
If the query does not match the name of an encyclopedia entry, the user should instead be taken to a search results page that displays a list of all encyclopedia entries that have the query as a substring. For example, if the search query were ytho, then Python should appear in the search results.
Clicking on any of the entry names on the search results page should take the user to that entry’s page. -->

{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search Results
{% endblock %}

{% block body %}
    <h2>Search Results</h2>
    {% for result in search_results %}
        <p><a href="{% url 'entry' page_url=result %}">{{ result }}</a></p>
    {% empty %}
        <p>No results found.</p>
    {% endfor %}
{% endblock %}